---
const {datosLanding} = Astro.props

const { malaga, texto_malaga, almeria, texto_almeria, almeria2, texto_almeria_2,fondo_modelos } = datosLanding
---


<div class="modelos w-ful h-auto py-20">
    <h2 class="text-white  text-center text-5xl relative bottom-4">Modelos</h2>
    <div class="row-modelos w-[90%] mx-auto max-w-[1140px] flex flex-col justify-between items-center md:flex-row md:justify-between md:items-center">
        <div class="malaga py-4 m-3">
           <img src={malaga.url} alt="malaga" loading="lazy">
           <h3 class="text-white uppercase text-[26px] flex flex-col justify-between items-center text-3xl mt-2">{texto_malaga}</h3>
        </div>
        <div class="almeria py-4 m-3">
            <img src={almeria.url} alt="almeria" loading="lazy">
            <h3 class="text-white uppercase text-[26px] flex flex-col justify-between items-center text-3xl mt-2">{texto_almeria}</h3>
        </div>
        <div class="almeria-2 py-4 m-3">
         <img src={almeria2.url} alt="almeria2" loading="lazy">
         <h3 class="text-white uppercase text-[26px] flex flex-col justify-between items-center text-3xl mt-2">{texto_almeria_2}</h3>
        </div>
    </div>
</div> 

<style>
     .modelos{
        background-image: url('https://www.desarrollostiva.com/wp-content/uploads/2023/12/00_Base-Fondo_Departamento.png');
     }

</style>